.custom-home-btn {
  width: 310px;
  height: 130px;
  margin-right: 10px;
  /* margin-left: 25px; */
  text-align: left;
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  background-size: 310px 130px;

  top: 10px;
  left: 0;
}

.custom-away-btn {
  width: 310px;
  height: 130px;
  margin-right: 20px;
  text-align: right;
  padding-top: 70px;
  font-size: 30px;
  font-weight: bold;
  background-size: 310px 130px;

  top: 10px;
  left: 10px;
}

.custom-vs {
  background-color: #fdfdfd;
  color: #606060;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.5),
    0px 1px 1px 0px rgba(0, 0, 0, 0.17), 0px 1px 3px 0px rgba(0, 0, 0, 0.15);

  /* top: 0px;
  left: 385px; */
  transform: translateX(-20px);
  transform: translateY(-30px);
}

.total-div {
  /* position: relative; */
}
