body {
  font-family: "KBO-Dia-Gothic_bold";
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.menu-item {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.menu-item-active {
  color: #2776ae;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.menu-item-deactive {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.nav-btn {
  padding: 15px;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  color: #2776ae;
}

.yes-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 0px 30px;
}
