.link-body {
  text-decoration: none;
}

.game-card {
  margin-top: 70px;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.home-info {
  position: relative;
}

.away-info {
  position: relative;
}

.team-image {
  opacity: 0.2;
  object-fit: contain;
  width: 400px;
  height: 235px;
}

.team-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
  width: 320px;
  text-align: center;
}

.game-time {
  color: black;
  font-size: 18px;
  text-align: center;
}

.game-place {
  color: black;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}
