.game-card {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 1px;
}

.home-info {
  position: relative;
}

.away-info {
  position: relative;
}

.team-image {
  opacity: 0.2;
  object-fit: contain;
  width: 290px;
  height: 235px;
}

.team-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  z-index: 2;
  font-size: 50px;
  font-weight: bold;
}

.game-time {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.game-place {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
