.container {
  margin: 50px;
  background-color: white;
  margin-bottom: 40px;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-template-columns: repeat(3, minmax(330px, 1fr));
  grid-gap: 10px;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.carousel__container {
  margin: 50px;
  background-color: white;
  margin-bottom: 80px;
  font-weight: 300;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-template-columns: repeat(2, minmax(330px, 1fr));
  grid-gap: 10px;
  text-decoration: none;
  color: inherit;
}

.team__title {
  background-color: white;
  font-weight: 300;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-gap: 10px;
  text-decoration: none;
  color: inherit;

  grid-template-rows: minmax(200px, 1fr) fr;

  justify-items: center;
  align-items: center;
}

.team__img {
  max-width: 300px;
  max-height: 300px;
  padding: 5px;
  width: 150%;
  height: 150%;
  object-fit: contain;

  justify-content: center;
  align-items: center;
}

.photocard {
  display: grid;
  grid-template-columns: repeat(5, minmax(330px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  width: 80%;
}

.game__detail {
  background-color: white;
  font-weight: 300;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-gap: 10px;
  text-decoration: none;
  color: inherit;

  justify-items: center;
  align-items: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.photocards {
  display: grid;
  grid-template-columns: repeat(5, minmax(330px, 1fr));
  grid-gap: 50px;
  padding: 20px;
  width: 80%;
  padding-top: 70px;
}

.point-check {
  width: 320px;
  height: 30px;
  font-size: 15px;
}

/* @media screen and (max-width: 1090px) {
  .games {
    grid-template-columns: 1fr;
    width: 100%;
  }
} */
