.title__container {
  margin: 50px;
  background-color: white;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 10px;
  border-radius: 5px;
  color: #adaeb9;
  display: grid;
  grid-template-rows: repeat(2, minmax(80px, 1fr));
  text-decoration: none;
  color: inherit;

  justify-items: center;
  align-items: center;
}

.game__container {
  background-color: white;
  padding: 10px;
  display: grid;
  text-decoration: none;
  color: inherit;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
}

.games {
  display: grid;
  grid-template-columns: repeat(5, minmax(330px, 1fr));
  grid-gap: 30px;
  padding: 10px;
  width: 80%;
}

/* @media screen and (max-width: 1090px) {
  .games {
    grid-template-columns: 1fr;
    width: 100%;
  }
} */
